@media (max-width: 1300px){
    #main{
        height: 100%;
    }

    nav {
        min-height: 100vh;
    }
   
    #home-sections section:first-of-type.onNav{
        flex-direction: column;

        justify-content: center;
        align-items: center;      
    }

    #box-card-page.onNav{
        height: 100%;
        width: 60rem;
    }

    #card-page.onNav{
        height: 100%;
    }

    #lasts-requests {
        min-width: 20rem;
      }
}


@media (max-width: 950px){
    
    #home-sections section:first-of-type{
        flex-direction: column;

        justify-content: center;
        align-items: center;      
    }

    #equipment-dashboard{
        margin: 0;
        margin-top: 1.25rem;
    }

    #box-card-page{
        height: 100%;
    }

    #card-page{
        height: 100%;
    }
 
}



@media (max-width: 730px){

    #home-sections section:first-of-type{
        margin-left: 0;
    }
    #box-card-page{
        padding: 20px;
    }

    #logo{
        width: 10rem;
    }
}

@media (max-width: 650px){
   body, html {
    font-size: 80%;
   }
}

@media (max-width: 491px){
    body, html {
     font-size: 75%;
    }

    #lasts-requests {
        min-width: 20rem;
      }
 }

 @media (max-width: 400px){
    body, html {
     font-size: 70%;
    }

    #lasts-requests {
        min-width: 20rem;
      }
 }