#projects-home-sections{
    width: 100%;
}

i{
    font-weight: normal;
    font-style: normal;
}


#filter-group{
    position: relative;
}

#card-filter-group{
    width: 100%;
    height: 3.313rem;

    margin-top: 2.5rem;
    padding: 1rem;

    box-shadow: 0px 0px 6px #00000029;

   
}   

#card-filter-group > p {
    color: var(---neutral-color-dark-05);
    font-weight: bold;
}

#filter-group > div {
    height: 9.375rem;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
}


details[open] > #inputs-group {
    position: absolute;

    padding:1.25rem ;
}

#inputs {
    display: flex;
    gap: 0.5rem;
}

#inputs > input {
    height: 3.25rem;

    font-size: 1.125rem;

    border: 1px solid #707070;
    border-radius: 5px;

    padding: 1.25rem;

}

#inputs > input::placeholder{
    font-family: var(--font-tile);
    font-size: 1.125rem;
    
}

#filter-name{
    flex: 1;
}

#filter-client {
    flex: 0.8;
    border: 1px solid #707070;

    background-color: white;
    border-radius: 5px;

    height: 3.25rem;

    font-size: 1.125rem;

    padding-left: 1.25rem;

    background: url(../../../public/img/down-filled-triangular-arrow.svg) 95.5% 50% no-repeat ;

}

#filter-start-date{
    flex: 0.6;
}

#filter-end-date{
    flex: 0.5;
}

select {
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
    width: 100%;

    padding-right: 20px;

}

#buttons-groups{
    display: flex;
    justify-content: end;

    gap: 1rem;

    width: 100%;

    margin-top: 1.875rem;
}

#buttons-groups > button {
    width: 14.375rem;
    height: 2.25rem;

    color: var(---color-white);
    font-family: var(--font-titles);
    font-weight: normal;

    font-size: 18px;

    border-radius: 5px;

    box-shadow: 0px 3px 6px #00000029;

    border: none;
}


#clear-filter{
    background-color:  var(---neutral-color-dark-04);
}

#search {
    background-color: var(---button-search-color) ;
}