header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1.063rem;
    padding-left: 2.313rem ;
    padding-right:  2.625rem;
    padding-bottom: 0.688rem;

    box-shadow: 0px 3px 6px #00000008;

    width: 100%;
}

#box-first-letter-user{
    display: flex;
    justify-content: center;
    align-items: center;


    width: 3.125rem;
    height: 3.125rem;

    background-color: #BEDCBC;
    border-radius: 100%;
}

#box-first-letter-user > p {
    color: var(---status-color-ok-dark);

    font-weight: bolder;

}
