#pagination {
  display: flex;
  justify-content: end;

  gap: 0.625rem;

  margin-top: 0.625rem;
  font-family: var(--font-titles);
}

#pagination > div {
  display: flex;
  justify-content: center;

  min-width: 1.625rem;
  min-height: 1.625;

  border: 0.25px solid #707070;

  cursor: pointer;
}

.page-number {
  background: #e2e2e2 0% 0% no-repeat padding-box;
}
