.table-content{
  width: 100%;
  min-width: 12.5rem;

  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 70.625rem;
  overflow: auto;

  font-family: var(--font-phrases);
  font-size: 0.875rem;

  border-collapse: collapse;
  box-shadow: 0px 3px 6px #00000029;
}

tr {
  height: 2.5rem;
}

th {
  border: none;
  background-color: var(---neutral-color-dark-05);

  color: var(---color-white);
}

td {
  justify-content: center;
}
